
<div align="left" id="search_form" class=<%=@normal_search_class2%>>
	<br><br>
	<strong>Select transactions:</strong><br><br>
	<%= form_tag spendings_path, :method=>'get' do%>
		<%= select_tag "transac_period", options_for_select(@transac_period,params[:transac_period]) %>		
		<%= submit_tag "Search", :name=> nil%>
	<%end%>
</div>
