
<% price=[]%>
<% title=[]%>
<% category=[]%>

<% @budgets=Budget.all%>
<% @budgets.each do |budget|%>
	<% price << budget.price %>
	<% title << budget.title%>
	<% category << budget.category%>
	<!-- code to place div tag with id to be used in profiles_controller_test.rb-->
	<% if budget==@current_item%>
	<div id="current_item"></div>
	<% else %>
	<% end %>
<% end %>

<%= image_tag(Gchart.pie(:data => price))%>


