/* line 4, /home/action/workspace/efinance/app/assets/stylesheets/spendings.css.scss */
.list_line_even {
  background: #fff;
}

/* line 7, /home/action/workspace/efinance/app/assets/stylesheets/spendings.css.scss */
.list_line_odd {
  background: #A9D0F5;
}

/* line 11, /home/action/workspace/efinance/app/assets/stylesheets/spendings.css.scss */
#search_form {
  display: block;
}

/* line 14, /home/action/workspace/efinance/app/assets/stylesheets/spendings.css.scss */
#date_info {
  padding-left: 5.5em;
}

/* line 17, /home/action/workspace/efinance/app/assets/stylesheets/spendings.css.scss */
.no_display {
  display: none;
}

/* line 21, /home/action/workspace/efinance/app/assets/stylesheets/spendings.css.scss */
.blank_row {
  height: 20px;
}
