<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @finance_plan.description %>
</p>

<%= link_to 'Edit', edit_finance_plan_path(@finance_plan) %> |
<%= link_to 'Back', finance_plans_path %>
